<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<title>Форма</title>
    <ul>
       <li>
            <a href="/">Главная</a>
        </li>
         <li>
            <a href="/contacts/">Контакты</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
        <li>
            <a href="/form/">Форма</a>
        </li>
        <li>
            <a href="/news_search/">Поиск новости по заголовку</a>
        </li>
    </ul>
    <form method="post">
        <p>Введите слово для поиска по новостям: (лучше слово 'java' там всего 9 страниц)</p>
        <input type="text" name="input_text">
        <button type="submit">Отправить</button>
    </form>
{{text}}
</body>
</html>